{{define "partials/status_badge"}}
{{if eq .Status "Running"}}
    <span class="inline-flex items-center gap-1 rounded-full px-2 py-0.5 text-xs text-white bg-blue-500">
        {{template "icons/arrow-path" dict "Class" "w-4 h-4"}}
        Running
    </span>
{{else if eq .Status "Succeeded"}}
    <span class="inline-flex items-center gap-1 rounded-full px-2 py-0.5 text-xs text-white bg-green-500">
        {{template "icons/check-circle" dict "Class" "w-4 h-4"}}
        Succeeded
    </span>
{{else if eq .Status "Failed"}}
    <span class="inline-flex items-center gap-1 rounded-full px-2 py-0.5 text-xs text-white bg-red-500">
        {{template "icons/x-circle" dict "Class" "w-4 h-4"}}
        Failed
    </span>
{{else if eq .Status "Pending"}}
    <span class="inline-flex items-center gap-1 rounded-full px-2 py-0.5 text-xs text-gray-700 dark:text-gray-200 bg-gray-200 dark:bg-gray-700">
        {{template "icons/exclamation-circle" dict "Class" "w-4 h-4"}}
        Pending
    </span>
{{else if eq .Status "Cancelled"}}
    <span class="inline-flex items-center gap-1 rounded-full px-2 py-0.5 text-xs text-white bg-red-500">
        {{template "icons/x-circle" dict "Class" "w-4 h-4"}}
        Cancelled
    </span>
{{else}}
    <span class="inline-flex items-center gap-1 rounded-full px-2 py-0.5 text-xs text-gray-700 dark:text-gray-200 bg-gray-200 dark:bg-gray-700">
        {{.Status}}
    </span>
{{end}}
{{end}}
